{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body style="font-size: smaller">
    <div id="header">
        <span class="logo">Aplikacja rekrutacyjna</span>
        <span class="user">
            {% if request.user.is_authenticated %}
                Witaj, {{ request.user.first_name }}!
                <a href="{% url "logout" %}">Wyloguj się</a>
            {% else %}
                <a href="{% url "login" %}">Zaloguj się</a>
            {% endif %}
        </span>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <script src={% static 'js/main.js' %}></script>
</body>
</html>