{% extends "base.html" %}

{% load tags %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h2 style = "margin-bottom: 2rem">
        {% if user|get_user_type == 'hr_employee' %}Dział Personalny
        {% elif user|get_user_type == 'recruiter' %}Rekruter
        {% elif user|get_user_type == 'project_manager' %}Project Manager
        {% elif user|get_user_type == 'candidate' %}Kandydat
        {% endif %}
    </h2>
    <div id="{{ user|get_user_type }}"></div>
{% endblock %}