{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}
    <h1>Sign in</h1>
    <p>Welcome! Login Into Your Account</p>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Sign in"</p>
    </form>
{% endblock %}