{% extends "base.html" %}

{% block title %}Wylogowanie{% endblock %}

{% block content %}
    <h1>Wylogowanie</h1>
    <p>Zostałeś poprawnie wylogowany. Możesz <a href="{% url "login" %}">zalogować się ponownie.</a></p>
{% endblock %}