{% extends "base.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}
    <h1>Logowanie</h1>
    {% if form.errors %}
        <p>
            Wprowadzona nazwa użytkownika lub hasło jest niepoprawne.
            Popraw wprowadzone dane.
        </p>
    {% else %}
        <p>Aby się zalogować, wypełnij poniższy formularz.</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            <p><a href="{% url "password_reset" %}">Zapomniałeś hasła?</a></p>
            {{ form.as_p }}
            {% csrf_token %}
            <input class="input" type="hidden" name="next" value="{{ next }}" />
            <p><input class="input" type="submit" value="Zaloguj się"></p>
        </form>
    </div>

{% endblock %}