{% extends "base.html" %}

{% block title %}Zmiana hasła{% endblock %}

{% block content %}
    <h1>Zmiana hasła</h1>
    {% if validlink %}
        <p>Wprowadź nowe hasło dwa razy.</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Zmień hasło"/></p>
        </form>
    {% else %}
        <p>Link do zmiany hasła jest nieważny. Prawdopodobnie został już wcześniej wykorzystany.
           Należy powtórzyć procedurę zmiany hasła.</p>
    {% endif %}
{% endblock %}
