{% extends "base.html" %}

{% block title %}Twoje hasło zostało zmienione{% endblock %}

{% block content %}
    <h1>Twoje hasło zostało zmienione.</h1>
    <p>Zmieniłeś swoje hasło z powodzeniem.</p>
{% endblock %}