{% extends "base.html" %}

{% block title %}Zmiana hasła{% endblock %}

{% block content %}
    <h1>Zmiana hasła</h1>
    <p>Wysłaliśmy Ci maila z instrukcjami potrzebnymi do zmiany hasła.</p>
    <p>Jeżeli nie otrzymałeś wiadomości, upewnij się, że w formularzu zmiany hasła podałeś ten sam email, który został podany przy tworzeniu Twojego konta.</p>
{% endblock %}