{% extends "base.html" %}

{% block title %}Zmiana hasła{% endblock %}

{% block content %}
    <h1>Zmień hasło</h1>
    <p>Aby zmienić hasło, wypełnij poniższy formularz.</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Zmień"></p>
        {% csrf_token %}
    </form>
{% endblock %}