{% extends "base.html" %}

{% block title %}Hasło zmienione{% endblock %}

{% block content %}
    <h1>Hasło zmienione</h1>
    <p>Hasło zostało zmienione. Możesz się teraz <a href="{% url "login" %}">zalogować.</a></p>
{% endblock %}