{% extends "base.html" %}

{% block title %}Zmiana hasła{% endblock %}

{% block content %}
    <h1>Zapomniałeś hasła?</h1>
    <p>Wprowadź swój adres email, a wyślemy na Twoją skrzynkę mailową link potrzebny do zmiany hasła.</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Wyślij link"></p>
        {% csrf_token %}
    </form>
{% endblock %}