.components_title_div{
    display: flex;
    justify-content: space-between;
}

.candidates_view_add_icon {
    background: url('./images/add.png') no-repeat;
    width: 32px;
    height: 32px;
}

.candidates_view_add_icon:hover {
    background: url('./images/add_hover.png') no-repeat;
}

.candidates_view_add_icon:active {
    background: url('./images/add_click.png') no-repeat;
}
